<h1>Create a new figure</h1>

<!-- {"name"=>"Naked Cowboy",} -->
<form method="post" action="/figures/new">
  <label for="name">Figure Name:</label>
  <input type="text" name="name" />

  <input type="submit" value="Submit">
<form>
